body {

}

.dropdown-menu {
    background: #2D3E50;
    border-width: 0px
}

.body-content {
    margin-right: 0px !important;
    height:90vh;
    
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}