body {

}

.dropdown-menu {
    background: #2D3E50;
    border-width: 0px
}

.body-content {
    margin-right: 0px !important;

    min-height:100%
    
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}


.footer {
    clear: both;
    position: relative;
    height: 5px;
    margin-top:6%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.loginContent{
    margin-top:37px;
}
.extraMargin{
    margin-top:10vh;
}

.anythingElseContent{
    margin-top:70px;
}