body {

}

.dropdown-menu {
    background: #d7e2e9;
    border-width: 0px;
    z-index: 1;
}

.body-content {
    margin-right: 0px !important;

    min-height:100%
    
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}


.footer {
    clear: both;
    position: relative;
    height: 5px;
    margin-top:6%;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.loginContent{
    margin-top:37px;
}
.extraMargin{
    margin-top:10vh;
}

.anythingElseContent{
    margin-top:70px;
}

.navbar .navbar-nav > li > .dropdown-menu {
    background-color: #d7e2e9;
    
}

    .navbar .navbar-nav > li > .dropdown-menu > li > a {
        color: #d7e2e9;
    }

        .navbar .navbar-nav > li > .dropdown-menu > li > a:hover,
        .navbar .navbar-nav > li > .dropdown-menu > li > a:focus {
            color: #d7e2e9;
            background-color: #d7e2e9;
        }

    .navbar .navbar-nav > li > .dropdown-menu > li > .divider {
        background-color: #d7e2e9;
    }

.ul {
  
    z-index: -1;
    position: relative;
}