
.responsiveScrollProducts {
    max-height: 50vh;
    min-height: 50vh;
    overflow: auto;
}

.tableSize2 {
    width: 10px;
  
}

.tableSize3 {
    width: 10px;
}
.tableSize {
    width: 200px;
    text-align:center;
}

.tableSizeExtra {
    width: 150px;
    text-align: center;
}
.td {
    width: 0px;
    word-wrap: break-word;
}
