@{
    ViewData["Title"] = "InventoryMovement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Movimiento de inventario</h1>

    <br />

    <div class="form-row">



        <div class="input-group col-md-8">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <img src="~/images/icons/search.svg" width="20" height="20">
                </div>
            </div>
            <input id="SearchBar"
                   oninput="SearchProduct(this.value)"
                   class="form-control mr-sm-2 "
                   type="search"
                   placeholder="Buscar productos"
                   aria-label="Search">

            <!--Add/Decrease Inventory-->
            <form action="" class="neptune">
                <input type="radio" name="InOrOutStockRadioBtn" id="InStockRadioBtn" checked />
                <input type="radio" name="InOrOutStockRadioBtn" id="OutStockRadioBtn" />
                <div class="switch">
                    <label for="InStockRadioBtn">Añadir</label>
                    <label for="OutStockRadioBtn">Quitar</label>
                    <span></span>
                </div>
            </form>



        </div>
    </div>

    <br />
    <br />

    <div class="form-row">

        <!--Left table-->
        <div class="form-group col-md-6 ">
            <h4>Inventario</h4>
            <table class="table tableHeader">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col" class="text-center">Precio</th>
                        <th scope="col" class="text-center">Unidades</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
            </table>
            <div class="responsiveScroll">
                <table class="table">
                    <tbody id="SearchProducts">
                        <tr id="ProductList">
                            <th scope="row" style="height:43vh; text-align:justify;">
                            <td colspan="3">Ninguna busqueda realizada</td>
                        </tr>

                    </tbody>
                </table>

            </div>


        </div>


        <!--Right table-->
        <div class="form-group col-md-6">
            <h4>Productos en movimiento</h4>
            <table class="table tableHeader">
                <thead>
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col" class="text-center">U actuales</th>
                        <th scope="col" class="text-center">Unidades +/-</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
            </table>
            <div class="responsiveScroll">
                <table class="table">

                    <tbody id="EditProducts">
                        <tr>
                            <th scope="row" style="height:43vh">
                            <td colspan="3">No se ha añadido ningún producto</td></th>
                        </tr>

                    </tbody>
                </table>

            </div>


        </div>

        <!--Save and 0 inventory buttons-->

        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-outline-danger my-2 my-sm-0 SaveAndDestroy" data-toggle="modal" data-target="#ConfirmModal"> Inventario en 0 </button>

            </div>
            <div class="col">
                <button type="button" onclick="ModifyStock()" class="btn btn-outline-primary pull-right SaveAndDestroy" style="margin-left:91vh"> Guardar </button>
            </div>
        </div>

    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="ConfirmModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Deseas continuar?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Si continuas con la operación las unidades de todos los productos quedarán en 0 y esta operación no puede deshacerse.
            </div>
            <div class="modal-footer">
                <button class="btn btn-outline-danger my-2 my-sm-0 close" data-dismiss="modal" aria-label="Close"> Cancelar </button>
                <button onclick="StockZero()" class="btn btn-outline-success my-2 my-sm-0 close"> Continuar </button>
            </div>
        </div>
    </div>
</div>

<!-- Invalid Values Modal -->
<div class="modal fade" id="InvalidValueModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <!-- Modal content -->
    <div class="modal-content">
        <button onclick="CloseModal()"> x </button>

        <span class="close">x</span>

        <p>
            Alguno de los valores ingresados es invalido.
            <br>
            Por favor verifique los valores.
        </p>

        <button class="close" data-dismiss="modal" aria-label="Close"> Entendido </button>

    </div>
</div>

<script>

</script>


