@{
    ViewData["Title"] = "Main Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Contenido que está inmediatamente despues del Navbar-->
<section class="jumbotron text-center bg-primary jumbotron-fluid">
    <div class="container">
        <font color="white"><h1>POS Tesis</h1></font>
        <p class="lead text-muted">Sistema de facturación POS con inteligencia artificial implementada <br />Hecho por Nicolás Andrés Bernal y Álvaro Steveen López</p>
        <p>
            <a href="#" class="btn btn-outline-success my-2">Haz clic aquí para registrar un usuario</a>
            <a href="/Inventory/InventoryMain" class="btn btn-outline-info my-2">Haz clic aquí para ingresar al sistema</a>
        </p>
    </div>
</section>
<!--Fin del contenido debajo del Navbar-->
<style>
    .jumbotron {
        padding-right: 0;
        padding-left: 0;
    }
</style>

<!--poop-->

<!--Aqui inician las 3 cartas-->
<div class="container marketing">

    <div class="row">
        <div class="col-lg-4">
            <div class="card border-info" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/icons/archive.svg" class="card-img-top" width="100" height="100">
                    <div class="card-body" style="height:25vh">
                        <h4 class="card-title">Registro de ventas</h4>
                        <p class="card-text">Puedes registrar las ventas de tu negocio de forma rapida e intuitiva con unos pocos clics.</p><br />
                        <a href="/Sell/SellingMainPage" class="btn btn-outline-primary">Vender</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-info" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/icons/shield-lock.svg" class="card-img-top" width="100" height="100">
                    <div class="card-body"style="height:25vh">
                        <h4 class="card-title">Niveles de usuarios</h4>
                        <p class="card-text">Puedes crear distintos tipos de usuarios para tus empleados, de acuerdo al nivel de acceso que deben tener al sistema POS.</p>
                        <a href="/Products/ProductsMain" class="btn btn-outline-primary">Productos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-info" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/icons/alarm.svg" class="card-img-top" width="100" height="100">
                    <div class="card-body"style="height:25vh">
                        <h4 class="card-title">Control de inventario</h4>
                        <p class="card-text">Utilizando una red neuronal y los datos historicos de ventas. Puedes predecir la cantidad optima de productos para tu inventario.</p>
                        <a href="/Inventory/InventoryAI" class="btn btn-outline-primary">Predictor de inventario</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!--Aqui terminan las 3 cartas-->
    <!--Aqui inicia la informacion que está despues da las cartas-->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Utiliza nuestro sistema <span class="text-muted">Donde quiera</span></h2>
            <p class="lead">Gracias a las ventajas que ofrece el framework .NET puedes abrir nuestro aplicativo utilizando los navegadores soportados este (google chome, firefox, etc). Además, es compatible con multiples sistemas operativos (macOS, windows y linux).</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/Multiplataforma.jpg" alt="Sample Photo" width="400" height="250" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">No solo vendes, evitas <span class="text-muted">Sobrecostos</span></h2>
            <p class="lead">Gracias a nuestra red neuronal artificial y a un modelo matematico implementado, puedes predecir la cantidad mas adecuada de productos que deben haber en inventario enfocado a reducir los costos que estos generan en la empresa.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/images/ahorro.jpg" alt="Sample Photo" width="400" height="250" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">La seguridad de tu información es nuestra <span class="text-muted">Prioridad</span></h2>
            <p class="lead">Otra ventaja de .NET es la seguridad, es la alta seguridad que ofrece. Ofrecemos varios niveles de seguridad para que otros usuarios no accedan a partados que no les corresponden y mucho menos a la información sensible de la tienda</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/securityDragon.jpg" alt="Sample Photo" width="400" height="250" />
        </div>
    </div>

</div>

<!-- Create User Modal -->
<div class="modal fade" id="CreateUserModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="ModalTitle"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">

                <p> Usuario creado exitosamente </p>

            </div>
        </div>
    </div>
</div>

@if (ViewBag.Successful != null && ViewBag.Successful)
{
    <script>
        $('#CreateUserModal').modal('toggle');
    </script>
}

<style>
    .footer {
        position: relative;
        width: 100%;
    }
</style>