@page
@{
    ViewData["Title"] = "Pagina Principal";
}



<!--Contenido que está inmediatamente despues del Navbar-->

<section class="jumbotron text-center bg-primary jumbotron-fluid">
    <div class="container">
        <font color="white"><h1>Tesis POS</h1></font>
        <p class="lead text-muted">El mejor pos del universo universal. Y ahora caracteres de relleno para poder rellenar lo que debe ser rellenado por falta de relleno rellenoso muy relleno de relleno rellenado con una pizca de canela para rellenar.</p>
        <p>
            <a href="#" class="btn btn-outline-danger my-2">Main call to action</a>
            <a href="/Inventory/InventoryMain" class="btn btn-outline-info my-2">Movimiento Inventario</a>
        </p>
    </div>
</section>
<!--Fin del contenido debajo del Navbar-->
<style>
    .jumbotron {
        padding-right: 0;
        padding-left: 0;
    }
</style>


<!--Aqui inician las 3 cartas-->
<div class="container marketing">

    <div class="row">
        <div class="col-lg-4">
            <div class="card border-info" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/icons/archive.svg" class="card-img-top" width="100" height="100">
                    <div class="card-body">
                        <h4 class="card-title">Registro de ventas</h4>
                        <p class="card-text">Vendes pudding y Nep se pone feliz. y ahora palabras para rellenar mucho. Perfecto</p>
                        <a href="/Sell/SellingMainPage" class="btn btn-outline-primary">Vender</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-info" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/icons/shield-lock.svg" class="card-img-top" width="100" height="100">
                    <div class="card-body">
                        <h4 class="card-title">Manejo de permisos</h4>
                        <p class="card-text">Nep es la diosa y ella exige todo el pudding de este humilde pais, RAPIDO ESCORIA. Gracias :)</p>
                        <a href="/Product/ProductMain" class="btn btn-outline-primary">Productos</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card border-info" style="width: 18rem;">
                <div class="text-center">
                    <img src="~/images/icons/alarm.svg" class="card-img-top" width="100" height="100">
                    <div class="card-body">
                        <h4 class="card-title">Control de inventario</h4>
                        <p class="card-text">Es necesario administrar de forma adecuada los puddings de la diosa Purple Heart (Nep)</p>
                        <a href="/Sell/SellingMainPage" class="btn btn-outline-primary">Vender(Cambiar por IA)</a>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <!--Aqui terminan las 3 cartas-->
    <!--Aqui inicia la informacion que está despues da las cartas-->
    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Esto corre hasta en una <span class="text-muted">Tostadora</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/Multiplataforma.jpg" alt="Sample Photo" width="400" height="250" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">No solo vendes, evitas <span class="text-muted">Sobrecostos</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="~/images/ahorro.jpg" alt="Sample Photo" width="400" height="250" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Esta cosa es <span class="text-muted">Segura</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img src="~/images/securityDragon.jpg" alt="Sample Photo" width="400" height="250" />
        </div>
    </div>

    <!-- <hr class="featurette-divider">-->


</div>