<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tesis</title>

    <!-- JS -->
    <script type="text/javascript" src="/js/site.js"></script>
    <script type="text/javascript" src="/lib/jquery.js"></script>
    <script src="/lib/Bootstrap/js/bootstrap.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/lib/Bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/Bootstrap/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="/lib/Bootstrap/css/bootstrap-reboot.css" />

    <!-- CSS -->
    <environment include="Development">
        <link rel="stylesheet" href="~/css/layout.css" />
        <link rel="stylesheet" href="~/css/inventory.css" />
        <link rel="stylesheet" href="~/css/products.css" />
        <link rel="stylesheet" href="~/css/selling.css" />
        <link rel="stylesheet" href="~/css/site.css" /> <!--Not used yet-->
    </environment>

</head>
<body>

    <!--Navbar-->
    <div class="pos-f-t fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/index">Tesis POS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Ventas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Sell/SellingMainPage">Vender</a>
                            <a class="dropdown-item " href="/Sell/SellingAdmin">Administrador ventas</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Products/ProductsMain">Productos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Inventario
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/Inventory/StockInOut">Historial de movimientos</a>
                            <a class="dropdown-item" href="/Inventory/InventoryMain">Movimiento de inventario</a>
                            <a class="dropdown-item" href="/Inventory/InventoryAI">Predictor de inventario</a>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/LoginMain">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Login/SigninMain">Sign in</a>
                    </li>
                </ul>
            </div>
        </nav>


    </div>
    <!--Navbar ends-->

    <partial name="_CookieConsentPartial" />

    <div class="container-fluid body-content">
        <br /><br /><br />
        @RenderBody()

        <footer class="footer">
            <hr />
            <p>&copy; 2020 - Tesis</p>
        </footer>
    </div>

</body>
</html>
