
@{
    ViewData["Title"] = "Administrador de ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-outline-info">Agregar todos </button>
            <button type="button" class="btn btn-outline-danger">Quitar todos</button>
        </div>
        <button type="button" class="btn btn-outline-success" onclick="ModifyStock()" style="margin-left:82vh;">Predecir</button>
    </div>