@page
@{
    ViewData["Title"] = "Inventory";
}
<br />
<div class="container">
    <h1>Movimiento de inventario</h1>
    <br />
    <div class="form-row">
        <div class="form-group col-md-5">
            <input class="form-control mr-sm-2 " type="search" placeholder="Buscar" aria-label="Search">
        </div>
        <div class="form-group col-md-1">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Buscar</button>
        </div>


    </div>
    <div class="form-row">

        <div class="form-group col-md-6">
            <h4>Lista de productos</h4>
            <ul class="list-group">
                <li class="list-group-item">Nep's pudding</li>
                <li class="list-group-item">Tsundere cake</li>
                <li class="list-group-item">Blanc dessert</li>
                <li class="list-group-item">Vert, just vert</li>
                <li class="list-group-item">Gear's robot</li>
            </ul>
        </div>
        <div class="form-group col-md-6">
            <h4>Productos en movimiento</h4>
            <ul class="list-group">
                <li class="list-group-item">Nep's pudding</li>
                <li class="list-group-item">Tsundere cake</li>
                <li class="list-group-item">Blanc dessert</li>
                <li class="list-group-item">Vert, just vert</li>
                <li class="list-group-item">Gear's robot</li>
            </ul>
        </div>
    </div>

    <button type="button" class="btn btn-primary pull-right">Guardar Cambios</button>
    <br />
</div>